    @media (min-width: 375px) {
        #desktop{
        display: block;
        }
        #mobile{
        display: none;
        }
    }
    @media (max-width: 375px) {
        #desktop{
        display: none;
        }
        #mobile{
        display: block;
        }
    }
    body{
        height: 90vh;
        display: flex;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        background-color: #202632;
    }
    .container{
        background: #313a49;
        min-width: 200px;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 20px;
        padding: 10px;
        border-radius: 25px;
    }
    #advice-number{
        font-size: 20px;
        color: #5ce7a8;
        margin: 15px;
    }
    #qu{
        color: white;
        font-size: 30px;
        width: 70%;
        text-align: center;
        margin: 15px auto;
    }
    button{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        font-size: 20px;
        position: relative;
        bottom: -45px;
        background-color: #5ce7a8;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
    }
    button:hover{
        cursor: pointer;
    }
    